@font-face {
	font-family: "Arial Rounded MT Bold";
	src: url("../assets/fonts/arlrdbd.woff") format("woff"),
		 url("../assets/fonts/arlrdbd.ttf") format("truetype");
}

@font-face {
	font-family: "Century Gothic";
	src: url("../assets/fonts/GOTHIC.woff") format("woff"),
		 url("../assets/fonts/GOTHIC.ttf") format("truetype");
}

@font-face {
	font-family: "Century Gothic Bold";
	src: url("../assets/fonts/gothicb.woff") format("woff"),
		 url("../assets/fonts/gothicb.ttf") format("truetype");
}


$themes-fonts : (
	"arial-rounded" : "Arial Rounded MT Bold",
	"century-gothic" : "Century Gothic",
	"century-gothic-bold" : "Century Gothic Bold",
);

@each $name, $value in $themes-fonts {
  .font-#{$name} {
    font-family: $value;
  }
}